@model IEnumerable<ProjetoCarLocadora.Models.Models.VistoriaModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5 mb-3">
	<div class="col-md-6">
		<h2 class="fw-bold" style="margin-bottom: 25px;">Vistorias</h2>
	</div>
	<div class="col-md-6 text-end">
			<a class="btn btn-success m-2 btn-sm fw-bold text-white text-decoration-none" asp-action="Create">Nova Vistoria</a>
	</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KmEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CombustivelEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoEntrada)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KmEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CombustivelEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoEntrada)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { valor=item.Id }, new { @class = "btn btn-primary btn-sm text-white text-decoration-none fw-bold" }) |
				@Html.ActionLink("Detalhes", "Details", new {  valor=item.Id  }, new { @class = "btn btn-warning btn-sm text-white text-decoration-none fw-bold" })
            </td>
        </tr>
}
    </tbody>
</table>
